#head{
    font-family: 'Cairo', sans-serif;
    font-size: 26px;
    display:flex;
    flex-flow: row-reverse;
    align-items: center;
    background-color: #79DAE8;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px ;
}


#head img {
    width: 200px;
    height: 170px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}
.topnav {
    overflow: hidden;
  }
  
  .topnav input[type=text] {
    float: right;
    width: 250px;
    padding: 10px 20px;
    border: none;
    margin: 10px 20px ;
    font-size: 30px;
    border-radius: 10px;
    background-color: #E8F9FD;
  }
  
  @media screen and (max-width: 600px) {
 .topnav input[type=text] {
      float: none;
      width: 200px;
      display: block;
      text-align: left;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
      width: 200px;
    }
  }
  
  ul.lang {
      margin-right: 30px;
  }

#head ul { 
    
    text-decoration: none;
    text-align: center;
    padding: 20px;

}

#head ul li {
    position: relative;
    display: -webkit-inline-box;
    margin: 0px 10px;
    background-color: #2F8F9D;
    padding: 10px 20px 20px;
    border-radius: 10px;
    font-size: 28px;
}

#head li a {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

#head li button {
    font-family: 'Cairo', sans-serif;
    font-size: 28px;
    color: #E8F9FD;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

#head li button:hover {

    text-decoration: underline;

}

#head li a:hover {

    text-decoration: underline;
} 

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    left: -40px;
    top: 72px;
    background-color: #2F8F9D;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #79DAE8;
    color: #001D6E;
    border-radius: 20px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 20px;
  }

  
body {
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    background-color: #E8F9FD;
} 


.parent {
    width: 70%;
    margin: auto;
}

.child {
    background-color: #d0f3fb;
    border-radius:  80px;
    margin: 40px 0px;
}

.child a {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    text-decoration:none;
    align-items: center;
}

.child a img {
    width: 60%;
    margin: 50px ;
    border-radius: 50px;
}

.child a span {
    display: block;
    width: 30%;
    margin: 0px 30px;
    height: fit-content;
    text-align: center;
    line-height: 1.5;
}

.child a:hover {
    text-decoration: underline;
}

.ad {
    position: absolute;
    width: 12%;
    height: 0;
    top: 0 ;
    right: 0;
    background-color: #001D6E;
}
#foot{
  text-align: center;
  text-decoration: none;
  font-size:x-large;
  background-color: #79DAE8;


  padding: 20px;
}

#foot {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#foot ul  {
  list-style: none;
}


#foot ul li {
  display: inline-block;
  margin: 10px 30px;
  font-size: 30px;
  color: #001D6E;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#foot address {
  font-style: normal;
}


@media screen and (max-width: 1080px) {
  #head {
    flex-flow: column;
  }
  #head ul {
    margin: 0%;
  }
  #head ul li {
    display: block;
    margin: 5px 10px;
    width: 260px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;
  width: 277px;
}

.parent {
  width: 100%;

}
.parent .child {
  border-radius: 50px;
}
.child a img {
  width: 90%;
  margin: 20px 0px;
  border-radius: 50px;
}

.parent .child a {
  display: block;
  text-align: center;
}
.child a span {
  display: block;
  width: auto;
  padding-bottom: 20px;
  font-size: 20px;
}

#foot ul li{
  font-size: 15px;
}
#foot ul {
  width: 100%;
  padding-inline-start: 0px;
}

}

